/* YourComponent.css */
/* .baax {
    
    background: url(/public/background.jpg);
  
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
   
    height: 100vh;
  
    
    color: white;
    
  }
  
  .typer{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 5rem;
    font-weight: 800;    
  }

  .yes{
    background-color: black;
    color: aliceblue;
    font-size: larger;
    padding: 0.6rem;
    font-weight: 600;
    border-radius: 35%;
    margin: auto;
    display: flex;
    margin-top: 20rem;
  }

  .no{
    background-color: black;
    color: aliceblue;
    font-size: larger;
    padding: 0.6rem;
    font-weight: 600;
    border-radius: 35%;
  } */

  /* YourComponent.css */
.baax {
    /* Set the background image */
    background: url(/public/background.jpg);
  
    /* Set background properties for full coverage */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    /* Set the height to cover the entire viewport */
    height: 100vh;
  
    /* Optionally, add other styling for your content */
    color: white;
    /* ... other styles */
  }
  
  .typer {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 5rem;
    font-weight: 800;
  }
  
  .yes,
  .no {
    background-color: black;
    color: aliceblue;
    font-size: larger;
    padding: 1rem;
    
    font-weight: 600;
    border-radius: 35%;
  }
  
  .yes {
    margin: auto;
    display: flex;
    margin-top: 20rem;
  }

  .yes p{
    text-decoration: none;
    color: aliceblue;

  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .typer {
      font-size: 3rem;
    }
  
    .yes,
    .no {
      font-size: medium;
    }
  }
  